# Dependencies
node_modules/
dist/
build/

# Environment
.env
*.env

# Auth & Sessions
baileys_auth_info/
baileys_store.json
temp_wa_*.jpg

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Uploads & temp files
server/uploads/
server/database.sqlite
server/last_ocr_debug.txt
server/last_wa_ocr_debug.txt

# System Files
.DS_Store
Thumbs.db

# Pasta duplicada antiga
Finan-as-Pro/
